# About this notebook
<p style="text-align: justify"> Here, you will learn the basic statements of python and function. Some codes will be given for demonstration. Some other codes, you will do as excercise.</p>

## Submission
<p style="text-align: justify">After completing the practice codes and exercises, submit the notebook (.ipynb file) to corresponding Intern through Microsoft Teams</p>
<p> 1.<b> You must submit your own code</b>. If similarity found negative marking will be given.</p>
<p> 2. Modify the file name writing your ID at the beigining of the file name.</p>
<p> 3. Other file format will not be accepted.</p>

# User Input

In [1]:
a = 21
print(a)

21

In [1]:
a = input('Enter a value: ') # always returns string
print('The given value is '+ a)
print(type(a))

Enter a value: 22
The given value is 22
<class 'str'>

In [ ]:
a = int(input('Enter a number: ')) # returns string but converted to int
print('The given value is '+ str(a+11))
print(type(a))

Enter a number: 66
The given value is 77
<class 'int'>

In [5]:
while True:
  a = input('Enter your Birth Year:')
  if a.isdigit():
    print('You are ' + str(2026-int(a)) + ' years old')
    print(2026-int(a))
    break
  print('WRONG INPUT')

Enter your Birth Year:12.3
WRONG INPUT
Enter your Birth Year:1
You are 2025 years old
2025

# if statement
There can be zero or more elif parts, and the else part is optional. The keyword ‘elif’ is short for ‘else if’

In [ ]:
# indent
i = 2
if i < 5: # () not required, {} not required
  print('okay')
  print('fine')
else:
  print('bad')
  print('not okay') # will be executed in each run

okay
fine

In [7]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: -1
Negative changed to zero

<b>Exercise 1:</b> Input a character from user and use the <b>if</b> statement to print corresponding types of the character (small letter, capital letter, digit, punctuation).

In [4]:
# code here
ch = input("Enter a character: ")
if ch.islower():
    print("Small Letter")
elif ch.isupper():
    print("Capital Letter")
elif ch.isdigit():
    print("Digit")
else:
    print("Punctuation or special character")

Enter a character:  3

Digit

# for statement
<p style="text-align: justify">The for statement in Python differs a bit from what you may be used to in C or C++. Rather than always giving the user the ability to define both the iteration step and halting condition, Python’s for statement iterates over the items of any sequence (a list or a string), in the order that they appear in the sequence.</p>

In [ ]:
# Measure some strings:
words = ['cat', 'window', 'dhaka', 'jack']
for w in words:
    print(w, len(w))

cat 3
window 6
dhaka 5
jack 4

In [9]:
numbers = [1, 56, 78, 8,7]

for n in numbers:
    print(n+10)

11
66
88
18
17

### The range() Function
If you do need to iterate over a sequence of numbers, the built-in function range() comes in handy. It generates arithmetic progressions:

In [ ]:
# repeated for 0 to 4
# for(i=0;i<5;i++)
for i in range(5):
    print(i)

0
1
2
3
4

<p style="text-align: justify">The given end point is never part of the generated sequence; range(10) generates 10 values, the legal indices for items of a sequence of length 10. It is possible to let the range start at another number, or to specify a different increment (even negative; sometimes this is called the ‘step’):</p>

In [ ]:
list(range(5, 10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(0, 10, 3))

[0, 3, 6, 9]

In [ ]:
list(range(10, 2, -1))

[10, 9, 8, 7, 6, 5, 4, 3]

In [ ]:
list(range(-10, -100, -30))

[-10, -40, -70]

In [10]:
for i in range(len(numbers)):
    print(i, numbers[i])

0 1
1 56
2 78
3 8
4 7

In [ ]:
for i in range(2,100,5):
    print(i,end=',')

2,7,12,17,22,27,32,37,42,47,52,57,62,67,72,77,82,87,92,97,

<b>Exercise 2:</b> Print all the even numbers between 0 to 100 using <b>for loop</b> and <b>range</b>.

In [8]:
# code here

for i in range(2,101,2):
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
country = "bangladesh"
for c in country:
    print(c,end=',')

b,a,n,g,l,a,d,e,s,h,

**Exercise 3:** You are given a string s, you need to print its characters at even indices(index starts at 0).

Note: Please go through the range function to understand how to jump 2 steps.

Examples:

Input: s = "DoctorPhenomenal"
Output: DcoPeoea

In [12]:
s = input("Enter a string")

for i in range(0,len(s),2):
    print(s[i],end ="")

Enter a string helloworld

hlool

# Functions
<p style="text-align: justify">The keyword def introduces a function definition. It must be followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented.</p>

In [1]:
def operate(a, b):
  print(str(a) + ' + ' + str(b) + ' = ' + str(a+b))
  print(str(a) + ' - ' + str(b) + ' = ' + str(a-b))
  print(str(a) + ' x ' + str(b) + ' = ' + str(a*b))
  print(str(a) + ' / ' + str(b) + ' = ' + str(a/b))

In [3]:
operate(9,5)

9 + 5 = 14
9 - 5 = 4
9 x 5 = 45
9 / 5 = 1.8

In [ ]:
operate(5,2)

5 + 2 = 7
5 - 2 = 3
5 x 2 = 10
5 / 2 = 2.5

In [ ]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
        #print()

In [ ]:
# Now call the function we just defined:
fib(100)

0 1 1 2 3 5 8 13 21 34 55 89

In [5]:
# define method
def addnumbers(a, b): # add numbers and return result
    # logic
    c = a + b
    return c

In [ ]:
y = addnumbers('8ppp', '9') # use or call method
print(y)

8ppp9

In [ ]:
addnumbers([33,77], [66])

[33, 77, 66]

In [6]:
# add list values
def addValues(num):
    sum = 0
    for n in num:
        sum = sum + n
    return sum

In [7]:
addValues([])

0

In [8]:
addValues((9,7,5))

21

In [9]:
v = [5, 4,12, 7]
addValues(v)

28

In [ ]:
v = [5, 4,12, 7, 5, 4,12, 7, 5, 4,12, 7]
addValues(v)

84

In [ ]:
# method/function
def multiTable(n, r=10):
    for i in range(1,r+1):
        print("{}x{}={}".format(n,i,n*i))

In [ ]:
multiTable(8)

8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72
8x10=80

In [ ]:
multiTable(15)

15X1=15
15X2=30
15X3=45
15X4=60
15X5=75
15X6=90
15X7=105
15X8=120
15X9=135
15X10=150

<b>Exercise 3:</b> Define a <b>method/function</b> which will take two lists of numbers and returns a list (sum of two lists)
<p>Example:<br>
    Input: [3,4,5,1] and [6,7,2,8]<br>
    output: [9,11,7,9]</p>

In [ ]:
# code here

<b> Exercise 4:</b> Write a <b>method</b> which will take the <b>full name</b> as input and return both the first name and last name.
<p>Example:<br>
    Input: Arafat Rahman Sunny<br>
    Output: First name: Arafat, Last name: Sunny</p>

In [ ]:
# code here

# Output Formatting (Optional)
Go to the [link](https://docs.python.org/3/tutorial/inputoutput.html#formatted-string-literals) and practice the codes below.

In [ ]:
# code here